bot.json
{
    "name": "Talk with Bot",
    "flow": [
        {
            "id": 2,
            "module": "scenario-service:StartSubscenario",
            "version": 2,
            "metadata": {
                "designer": {
                    "x": -463,
                    "y": 67
                },
                "interface": [
                    {
                        "name": "message",
                        "label": "",
                        "help": "",
                        "type": "text",
                        "default": "",
                        "required": true,
                        "multiline": true
                    },
                    {
                        "name": "user_id",
                        "label": "",
                        "help": "",
                        "type": "text",
                        "default": "",
                        "required": true,
                        "multiline": false
                    },
                    {
                        "name": "whatsapp_id",
                        "label": "",
                        "help": "",
                        "type": "text",
                        "default": "",
                        "required": true,
                        "multiline": false
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": true,
                "useNewZLibDeCompress": true
            },
            "mapper": {
                "url": "https://ai-job-agent-production.up.railway.app/agent/message",
                "serializeUrl": false,
                "method": "post",
                "headers": [],
                "qs": [],
                "bodyType": "raw",
                "parseResponse": true,
                "authUser": "",
                "authPass": "",
                "timeout": "",
                "shareCookies": false,
                "ca": "",
                "rejectUnauthorized": true,
                "followRedirect": true,
                "useQuerystring": false,
                "gzip": true,
                "useMtls": false,
                "contentType": "application/json",
                "data": "{\n\"message\": \"{{2.message}}\",\n\"user_id\": \"{{2.user_id}}\"\n}",
                "followAllRedirects": false
            },
            "metadata": {
                "designer": {
                    "x": -90,
                    "y": 72
                },
                "restore": {
                    "expect": {
                        "method": {
                            "mode": "chose",
                            "label": "POST"
                        },
                        "headers": {
                            "mode": "chose"
                        },
                        "qs": {
                            "mode": "chose"
                        },
                        "bodyType": {
                            "label": "Raw"
                        },
                        "contentType": {
                            "label": "JSON (application/json)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    },
                    {
                        "name": "useNewZLibDeCompress",
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "type": "array",
                        "label": "Headers",
                        "spec": [
                            {
                                "name": "name",
                                "label": "Name",
                                "type": "text",
                                "required": true
                            },
                            {
                                "name": "value",
                                "label": "Value",
                                "type": "text"
                            }
                        ]
                    },
                    {
                        "name": "qs",
                        "type": "array",
                        "label": "Query String",
                        "spec": [
                            {
                                "name": "name",
                                "label": "Name",
                                "type": "text",
                                "required": true
                            },
                            {
                                "name": "value",
                                "label": "Value",
                                "type": "text"
                            }
                        ]
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "authUser",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "authPass",
                        "type": "password",
                        "label": "Password"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate"
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "useMtls",
                        "type": "boolean",
                        "label": "Use Mutual TLS",
                        "required": true
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Content type",
                        "validate": {
                            "enum": [
                                "text/plain",
                                "application/json",
                                "application/xml",
                                "text/xml",
                                "text/html",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Request content"
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "whatsapp-business-cloud:sendMessage",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 4410469
            },
            "mapper": {
                "fromId": "709818225554270",
                "to": "{{2.whatsapp_id}}",
                "type": "text",
                "text": {
                    "body": "{{4.data.response}}",
                    "preview_url": true
                }
            },
            "metadata": {
                "designer": {
                    "x": 326,
                    "y": 74
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "Job-Bot (Bot)",
                            "data": {
                                "scoped": "true",
                                "connection": "whatsapp-business-cloud2"
                            }
                        }
                    },
                    "expect": {
                        "fromId": {
                            "mode": "chose",
                            "label": "Test Number (15551535104)"
                        },
                        "type": {
                            "label": "Text"
                        },
                        "text": {
                            "nested": {
                                "preview_url": {
                                    "mode": "chose"
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:whatsapp-business-cloud2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "type": "hidden"
                    },
                    {
                        "name": "fromId",
                        "type": "select",
                        "label": "Sender ID",
                        "required": true
                    },
                    {
                        "name": "to",
                        "type": "text",
                        "label": "Receiver",
                        "required": true
                    },
                    {
                        "name": "type",
                        "type": "select",
                        "label": "Message Type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "text",
                                "image",
                                "audio",
                                "video",
                                "document",
                                "sticker",
                                "location",
                                "contacts",
                                "interactive"
                            ]
                        }
                    },
                    {
                        "name": "text",
                        "type": "collection",
                        "label": "Text",
                        "spec": [
                            {
                                "name": "body",
                                "type": "text",
                                "label": "Body",
                                "validate": {
                                    "max": 4096
                                },
                                "required": true
                            },
                            {
                                "name": "preview_url",
                                "type": "boolean",
                                "label": "Preview URL",
                                "required": true
                            }
                        ]
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com",
        "notes": []
    },
    "io": {
        "input_spec": [
            {
                "name": "message",
                "label": "",
                "help": "",
                "type": "text",
                "default": "",
                "required": true,
                "multiline": true
            },
            {
                "name": "user_id",
                "label": "",
                "help": "",
                "type": "text",
                "default": "",
                "required": true,
                "multiline": false
            },
            {
                "name": "whatsapp_id",
                "label": "",
                "help": "",
                "type": "text",
                "default": "",
                "required": true,
                "multiline": false
            }
        ],
        "output_spec": []
    }
}